<app-header></app-header>
<div class="section not-found">
  <div class="overlay">
    <div class="container">
      <div class="row text-center">
        <div class="inner">
          <div style="width:100%;">
            <p>404</p>
            <h3>Nothing to see here!</h3>
            <p>The page you are looking for is no longer here... It probably never was<br>
            No worries, we all make mistakes. Just click <a href="#">here</a> to get back home :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>