<header class="animated slideInDown">
  <div class="container">
    <div class="row">
      <div class="col-md-2 logo-container">
        <p class="logo"><a routerLink="">EVENDOR</a></p>
      </div>
      <div class="col-md-6">
        <nav class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">HOW IT WORKS</a>
          </li>
          <li class="nav-item">  
            <a class="nav-link" routerLink="../inspiration" routerLinkActive="active">INSPIRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../support" routerLinkActive="active">SUPPORT</a>
          </li>
        </nav>
      </div>
      <div class="col-md-4">
          <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link book-button" routerLink="../booking" routerLinkActive="booking-active">BOOK NOW</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" routerLink="../signin" routerLinkActive="active">SIGN IN</a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</header>