<footer>
  <div class="half-section footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p class="logo"><a routerLink="">EVENDOR</a></p>
          <div class="underline-grey"></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
        </div>

        <div class="col-md-3">
          <h6>LINKS</h6>
          <div class="underline-grey"></div>
          <li><a>About us</a></li>
          <li><a>Support</a></li>
          <li><a>Inspiration</a></li>
          <li><a>Blog</a></li>
          <li><a>Terms of Service</a></li>
          <li><a>Privacy</a></li>
          <li class="button"><a class="book-now">BOOK NOW</a></li>
        </div>

        <div class="col-md-4">
            <h6>STAY IN TOUCH</h6>
            <div class="underline-grey"></div>
            <P> Gregor then turned to look out the window at the dull weather. Drops</P>
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email address">
            <button class="search" type="submit">Join the list</button>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2018. Property of Ambassador4u. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
