<footer>
  <div class="half-section footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="logo"><a routerLink="">EVENDOR</a></p>
          <div class="underline-grey"></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">
          
        </div>
      </div>
    </div>
  </div>
</footer>
