.hero{
    height:80vh;
    position:relative;
    background: url('../../assets/img/hero-bg.jpg') no-repeat center center;
    background-size:cover;
    /* align-items: center; */
    /* display: flex; */
    position: relative;
}

.how-it-works{
    background-color: #ececec;
}

.search-form{
    width:100%;
    padding:10px;
    position:absolute;
    background-color:#fff;
    box-shadow: 3px 3px 30px #00000012;
    height:70px;
    bottom:-85vh;
    align-items: center;
    display: flex;
    z-index:998;
}

.search-form>div{
    width:100%;
}

select, button{
    margin-top:10px;
} 

i.fa-lg{
    color: #733737;
}

p.step{
    font-family:'Raleway', sans-serif;
    font-weight:300;
    margin-top:10px;
}

p.step-title{
    font-size:0.8em;
    font-weight:700;
}

p.step-text{
    font-size:0.8em;
}
