<app-header></app-header>
<div class="body-container">
  <div class="section hero">
    <div class="col-md-6 offset-md-3">
      <div class="search-form">
        <div>
          <form>
            <div class="container">
              <div class="row">
                <div class="col-md-4 less-padding">
                  <select>
                    <option value="">Where's your event?</option>
                  </select>
                </div>
                <div class="col-md-4 less-padding">
                  <select>
                    <option value="">What do you need?</option>
                  </select>
                </div>
                <div class="col-md-4 less-padding">
                  <button class="search" type="submit">FIND A VENDOR</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="section about">

  </div>
</div>
<app-featured-vendors></app-featured-vendors>
<app-testimonials></app-testimonials>
<app-call-to-action></app-call-to-action>
<app-footer></app-footer>
