<app-header></app-header>
<div class="body-container">
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="search-form animated fadeIn">
          <div>
            <form>
              <div class="container">
                <div class="row">
                  <div class="col-md-4 less-padding">
                    <select>
                      <option value="">Where's your event?</option>
                    </select>
                  </div>
                  <div class="col-md-4 less-padding">
                    <select>
                      <option value="">What do you need?</option>
                    </select>
                  </div>
                  <div class="col-md-4 less-padding">
                    <button class="search" routerLink="../search/search-term" type="submit">FIND A VENDOR</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3 class="section-title text-center" style="margin-top:20px;margin-bottom:5px;">Inspiration</h3>
          <p class="text-center">Look through some of the best work from our vendors and draw inspiration for your next event.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
          <div class="timeline-item">
            <div class="poster-image" style="background:url('../../../assets/img/profile1.jpg') no-repeat center center;background-size:cover;"></div>
            <div class="vendor-name-container">
              <a routerLink="../vendor/vendor-id" class="vendor-name">Vendor Name</a>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>                    
            </div>
            <img src="../../assets/img/fv1.jpg">
            <p class="image-meta">July 4th, 2018, 08:00</p>
            <p class="image-title">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
          <hr>

          <div class="timeline-item">
            <div class="poster-image" style="background:url('../../../assets/img/profile2.jpg') no-repeat center center;background-size:cover;"></div>
            <div class="vendor-name-container">
              <a routerLink="../vendor/vendor-id" class="vendor-name">Vendor Name</a>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>                    
            </div>
            <img src="../../assets/img/fv2.jpg">
            <p class="image-meta">July 4th, 2018, 08:00</p>
            <p class="image-title">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
          <hr>

          <div class="timeline-item">
            <div class="poster-image" style="background:url('../../../assets/img/profile3.jpg') no-repeat center center;background-size:cover;"></div>
            <div class="vendor-name-container">
              <a routerLink="../vendor/vendor-id" class="vendor-name">Vendor Name</a>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>                    
            </div>
            <img src="../../assets/img/fv3.jpg">
            <p class="image-meta">July 4th, 2018, 08:00</p>
            <p class="image-title">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
          <hr>

          <div class="timeline-item">
            <div class="poster-image" style="background:url('../../../assets/img/profile4.jpg') no-repeat center center;background-size:cover;"></div>
            <div class="vendor-name-container">
              <a routerLink="../vendor/vendor-id" class="vendor-name">Vendor Name</a>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>                    
            </div>
            <img src="../../assets/img/fv4.jpg">
            <p class="image-meta">July 4th, 2018, 08:00</p>
            <p class="image-title">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
          <hr>

          <div class="timeline-item">
            <div class="poster-image" style="background:url('../../../assets/img/profile5.jpg') no-repeat center center;background-size:cover;"></div>
            <div class="vendor-name-container">
              <a routerLink="../vendor/vendor-id" class="vendor-name">Vendor Name</a>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>                    
            </div>
            <img src="../../assets/img/fv5.jpg">
            <p class="image-meta">July 4th, 2018, 08:00</p>
            <p class="image-title">A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
          <hr>

      </div>
    </div>
  </div>
</div>
<app-featured-vendors></app-featured-vendors>
<app-call-to-action></app-call-to-action>
<app-footer></app-footer>
