/* You can add global styles to this file, and also import other style files */

/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

/* PRELOADER */
#preloader{
    width:100%;
    height:100vh;
    position:fixed;
    display:flex;
    align-items:center;
    z-index:9999;
    background-color:#fff;
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
/* END PRELOADER */

p, a, li, h5, h6, a{
    font-family: 'Montserrat', sans-serif;
}

a{
    cursor:pointer;
    transition: 200ms all ease-in;
}

h1,h2,h3{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
}

h3.section-title{
    margin-bottom:100px;
}

h3.section-sub-title{
    margin-top:20px;
    margin-bottom:50px;
    font-size:1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #723838;
}

.section{
    min-height:80vh;
    height:inherit;
    align-items:center;
    display:flex;
}

.half-section{
    min-height:40vh;
    height:inherit;
    align-items:center;
    display:flex;
}

.no-flex{
    display: block!important;
}

.underline-grey{
    height:2px;
    width:40px;
    background-color:#000000a2;
    margin-bottom:10px;
}

.body-container{
    padding-top:70px;
    z-index: 1;
}

input[type=text], input[type=email], textarea, select{
    outline:none;
    border:none;
    padding:0.8em;
    font-size:0.8em;
    background-color: #f1f1f1;
    border-radius:0px;
    margin-bottom:10px;
    transition: all 200ms ease;
    color:#999;
    width:100%;
    border-bottom: 1px solid transparent;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    /* background-image: url(...);   */
}

input[type=text]:hover, input[type=email]:hover, textarea:hover, select:hover{
    background-color: #efeeee;
}

textarea{
    height:150px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus{
    background-color:#fff;
    border-bottom: 1px solid #743636;
    border-radius:0;
}

button{
    outline:none;
    border:none;
    padding:0.8em;
    font-size:0.8em;
    background-color: #000;
    border-radius: 0px;
    margin-bottom:10px;
    transition: all 200ms ease;
    color:#ffffffbd;
    width:100%;
    text-align: center;
    cursor:pointer;
}

button:hover{
    background-color: #743636;
}

button.search{
    outline:none;
    border:none;
    padding:0.8em;
    font-size:0.8em;
    background-color: #000;
    border-radius: 0px;
    margin-bottom:10px;
    transition: all 200ms ease;
    color:#ffffffbd;
    width:100%;
    text-align: center;
    cursor:pointer;
}

button.search:hover{
    background-color: #743636;
}

.less-padding{
    margin:0!important;
    padding:5px!important;
}

img{
    max-width: 100%;
}

h3.sidebar-title{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:0.9em;
}